button {
    font-size: 32px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    padding: 15px 30px; 
}

button:hover {
    background-color: #0056b3;
}
